@use '../common/all-dependencies' as *;

.advantages {
    background-image: url("../../images/advantures.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: $secondary-font-bolditalic;
    font-style: italic;
}

.advantages__wrapper {
    width: 95%;
    max-width: 1580px;
    margin: 0 auto;
    padding: 49px 15px 36px;

    @include tablet {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: min-content auto;
    }
}

.advantages__title {
    margin: 0;
    margin-bottom: 20px;    
    font-size: rem(36);
    line-height: normal;    
    text-transform: uppercase;

    @include tablet {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
    }

    @include desktop-small {
        font-size: rem(70);
        grid-row: 1 / 6;
        grid-column: 1 / 2;
        align-self: center;
    }
}

.advantages__list {
    display: grid;
    justify-content: center;
    gap: 20px;
    counter-reset: advantages-counter;

    @include tablet {
        grid-column: 2 / 5;
    }
}

.advantages__item {
    position: relative;
    max-width: 372px;
    min-height: 188px;
    padding: 15px 27px 30px 21px;
    border: 1px solid rgba($color: #000000, $alpha: 0.41);
    border-radius: 20px;
    counter-increment: advantages-counter;
    background: $color-text-light-f6;
    display: flex;
    flex-direction: column;
    justify-content: end;

    @include tablet {
        max-width: 336px;
    }

    &::before {
        content: counter(advantages-counter);
        position: absolute;
        left: 20px;
        top: 15px;
        color: $brend-color;
        font-size: 30px;
        font-family: $goldman-regular;
    }
}

.advantages__item-title {
    margin-bottom: 24px;
    font-size: rem(26);
    line-height: 94%;
}

.advantages__item-text {
    font-family: $primary-font;
    font-style: normal;
    font-size: rem(20);
}

.advantages__item:nth-child(1) {
    @include tablet {
        grid-row: 2/3;
        grid-column: 2/4;
    }
}

.advantages__item:nth-child(2) {
    @include tablet {
        grid-row: 3/4;
        grid-column: 3/5;
    }
}

.advantages__item:nth-child(3) {
    @include tablet {
        grid-row: 4/5;
        grid-column: 2/4;
    }
}

.advantages__item:nth-child(4) {
    @include tablet {
        grid-row: 5/6;
        grid-column: 3/5;
    }
}