@use '../common/all-dependencies' as *;

.advantages {
    background-image: url("../../images/advantures.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: $secondary-font-bolditalic;
    font-style: italic;
}

.advantages__wrapper {
    width: 95%;
    max-width: rem(1580);
    margin: 0 auto;
    padding: rem(49) rem(15) rem(36);

    @include tablet {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: min-content auto;
    }

    @include desktop {
        padding-top: rem(180);
        grid-template-columns: repeat(8, 1fr);
    }
}

.advantages__title {
    margin: 0;
    margin-bottom: rem(20);    
    font-size: fluid(70, 36);
    line-height: normal;    
    text-transform: uppercase;
    word-break: break-word;

    @include tablet {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
    }

    @include desktop-small {
        grid-row: 1 / 6;
        grid-column: 1 / 3;
        align-self: center;
    }

    @include desktop {
        grid-column: 1 / 5;
    }
}

.advantages__list {
    display: grid;
    justify-content: center;
    gap: rem(20);
    counter-reset: advantages-counter;

    @include tablet {
        grid-column: 2 / 5;
    }

    @include desktop-small {
        column-gap: 0;
        grid-column: 3 / 5;
    }

    @include desktop {
        grid-column: 4 / 9;
        grid-row: 1 / 6;
        grid-template-columns: repeat(4, 1fr);
        justify-content: flex-end;
        justify-items: flex-end;
        gap: 0;
    }
}

.advantages__item {
    position: relative;
    max-width: rem(372);
    min-height: rem(188);
    padding: rem(45) rem(27) rem(30) rem(21);
    border: 1px solid rgba($color: #000000, $alpha: 0.41);
    border-radius: rem(20);
    counter-increment: advantages-counter;
    background: $color-text-light-f6;
    display: flex;
    flex-direction: column;
    justify-content: end;

    @include tablet {
        max-width: rem(336);
    }

    @include desktop {
        min-height: rem(204);
        min-width: rem(336);
    }

    &::before {
        content: counter(advantages-counter);
        position: absolute;
        left: rem(20);
        top: rem(15);
        color: $brend-color;
        font-size: rem(30);
        font-family: $goldman-regular;
    }
}

.advantages__item-title {
    margin-bottom: rem(24);
    font-size: rem(26);
    line-height: 94%;

    @include desktop {
        font-size: rem(30);
    }
}

.advantages__item-text {
    font-family: $primary-font;
    font-style: normal;
    font-size: rem(20);
}

.advantages__item:nth-child(1) {
    @include tablet {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }

    @include desktop {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
}

.advantages__item:nth-child(2) {
    @include tablet {
        grid-row: 3 / 4;
        grid-column: 3 / 5;
    }

    @include desktop {
        grid-row: 2 / 4;
    }
}

.advantages__item:nth-child(3) {
    @include tablet {
        grid-row: 4 / 5;
        grid-column: 2 / 4;
    }

    @include desktop {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }
}

.advantages__item:nth-child(4) {
    @include tablet {
        grid-row: 5 / 6;
        grid-column: 3 / 5;
    }

    @include desktop {
        grid-row: 4 / 6;
    }
}

.advantages__item:not(:last-child) {
    @include desktop {
        margin-bottom: rem(45);
    }
}