@use '../common/all-dependencies' as *;

.article__container {
  position: relative;
}

.article__text {
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding: rem(8) rem(30);
  font-family: $secondary-font-bolditalic;
  font-size: fluid(11, 10);
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  background-color: $color-text-light-f4;
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  z-index: 2;

  @include tablet {
    font-size: rem(24);
    padding: rem(5) rem(30);
  }

  & p {
    margin: 0;
  }

  & p:first-child {
    @include tablet {
        padding-left: rem(50);
    }
  }

  & p:last-child {
    padding-left: rem(25);
  }
}

.article__line img {
  width: 100vw;
  height: rem(26);

  @include tablet {
    height: rem(48);
  }
}