@use '../common/all-dependencies' as *;

.button {
    border: 2px solid $brend-color;
    background-color: $brend-color;
    color: $color-text-light-f6;

    &:hover,
    &:focus-visible {
        background-color: $white;
        color: $brend-color;
        border: 2px solid $brend-color;
    }

    &:active {
        opacity: 0.5;
    }
}