@use '../common/all-dependencies' as *;

.calculator {  
    background: $background-calc;  
    color: $white;

    @include desktop {
        position: relative;
        overflow: hidden;
    }
}

.calculator__wrapper {
    padding: rem(55) rem(15) rem(26);

    @include desktop {
        padding: rem(160) rem(207);
        background-image: url("../../images/moto.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;        
    }
}

.calculator__wrapper-form {
    @include desktop {
        position: relative;
        z-index: 1;
        max-width: rem(1580);
        margin: 0 auto;
    }
}

.calculator__title {
    margin-bottom: rem(20);
    font-family: $secondary-font-bolditalic;
    font-size: rem(36);
    line-height: normal;
    font-style: italic;
    text-transform: uppercase;
    word-break: break-word;

    @include desktop {
        font-size: rem(47);        

        & span {
            font-size: rem(80);
        }
    }
}

.calculator__text {
    margin-bottom: rem(55);
    font-family: $secondary-font-btMediumItalic;
    font-size: rem(20);
    line-height: normal;
    font-style: italic;
    text-transform: uppercase;

    @include desktop {
        font-size: rem(26);
        & br {
            display: none;
        }
    }
}

.calculator__form {
    @include desktop-small {
        position: relative;
    }
}

.calculator__container {
    margin-bottom: rem(10);
    padding: rem(24) rem(18);
    background: $background-calc2;
    border-radius: rem(20);
    border: 3px solid $brend-color;

    @include desktop-small {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(20);
    }

    @include desktop {
        padding: rem(50) rem(115);
    }
}

.calculator__description {
    background-color: $color-text-light-f4;
    padding: rem(15) rem(15) rem(50);
    font-size: rem(20);
    line-height: normal;
    color: $color-text;

    @include desktop {
        margin: 0 auto;
        padding: rem(150) rem(280) rem(110);
    }
}
