@use '../common/all-dependencies' as *;

.calculator {  
    background: $background-calc;  
    color: $white;

    @include desktop {
        position: relative;
        overflow: hidden;
    }
}

.calculator__wrapper {
    padding: 55px 15px 26px;

    @include desktop {
        padding: 160px 207px;
        background-image: url("../../images/moto.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;        
    }
}

.calculator__wrapper-form {
    @include desktop {
        position: relative;
        z-index: 1;
        max-width: 1580px;
        margin: 0 auto;
    }
}

.calculator__title {
    margin-bottom: 20px;
    font-family: $secondary-font-bolditalic;
    font-size: rem(36);
    line-height: normal;
    font-style: italic;
    text-transform: uppercase;

    @include desktop {
        font-size: rem(47);        

        & span {
            font-size: rem(80);
        }
    }
}

.calculator__text {
    margin-bottom: 55px;
    font-family: $secondary-font-btMediumItalic;
    font-size: rem(20);
    line-height: normal;
    font-style: italic;
    text-transform: uppercase;

    @include desktop {
        font-size: rem(26);
        & br {
            display: none;
        }
    }
}

.calculator__form {
    @include desktop-small {
        position: relative;
    }
}

.calculator__container {
    margin-bottom: 10px;
    padding: 24px 18px;
    background: $background-calc2;
    border-radius: 20px;
    border: 3px solid $brend-color;

    @include desktop-small {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    @include desktop {
        padding: 50px 115px;
    }
}

.calculator__description {
    background-color: $color-text-light-f4;
    padding: 15px 15px 50px;
    font-size: rem(20);
    line-height: normal;
    color: $color-text;

    @include desktop {
        margin: 0 auto;
        padding: 150px 280px 110px;
    }
}
