@use '../common/all-dependencies' as *;

.contact {
    margin-bottom: 50px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    background-color: $color-text-light-f4;
    color: $white;

    @include desktop {
        margin-bottom: 100px;
    }
}

.contact__wrapper {
    position: relative;
    max-width: 372px;
    min-height: 960px;
    padding: 115px 28px 64px 37px;
    background-image: url("../../images/form-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include desktop-small {
        padding: 73px 61px 39px 97px;
        max-width: 994px;
        min-height: min-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-image: url("../../images/form-desktop.png");
        background-size: contain;
    }

    @include desktop {
        max-width: 1580px;
        min-height: 589px;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, min-content);
    }

    &::after {
        position: absolute;
        content: "";
        width: 161px;
        height: 38px;
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../../images/icons/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @include desktop-small {
            bottom: auto;
            top: 73px;
            left: 18%;
            transform: none
        }

        @include desktop {
            width: 256px;
            height: 60px;
            top: 95px;
            left: 16%;
        }
    }
}

.contact__info {
    position: relative;
    max-width: 212px;
    margin-bottom: 15px;
    display: block;
    padding: 5px 64px 5px 10px;
    font-family: $secondary-font-btMediumItalic;
    font-size: rem(15);
    line-height: normal;
    font-style: italic;
    color: $white;
    text-decoration: none;
    border: 2px solid $color-text-light-f4;
    border-radius: 20px;

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        width: 45px;
        height: 15px;
        background-image: url("../../images/icons/streak-4.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @include desktop-small {
        margin-bottom: 0;
        align-self: flex-end;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        max-width: 180px;
        font-size: rem(12);
    }

    @include desktop {
        grid-column: 1 / 4;
        max-width: none;
        min-width: 212px;
        font-size: rem(15);
        justify-self: flex-end;
        margin-right: 75px;
    }
}

.contact__info--mail {
    margin-bottom: 200px;
    &::after {
        width: 66px;
        background-image: url("../../images/icons/streak-6.svg");
    }

    @include desktop-small {
        margin-bottom: 0;
        margin-left: -20px;
        grid-column: 2 / 3;
    }

    @include desktop {
        grid-column: 3 / 6;
        margin-left: 0;
        margin-right: 75px;
    }
}

.contact__title {
    padding: 52px 0 30px;
    font-family: $secondary-font-bolditalic;
    font-size: rem(26);
    line-height: normal;
    text-transform: uppercase;

    @include desktop-small {
        margin-bottom: 20px;
        padding: 0;
        grid-column: 3 / 5;
    }

    @include desktop {
        margin-bottom: 36px;
        padding-top: 30px;
        grid-column: 6 / 10;
        font-size: rem(40);
    }
}