@use '../common/all-dependencies' as *;

.footer {
    position: relative;
    padding-top: 81px;
    background-image: url("../../images/icons/footer-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::after {
        position: absolute;
        content: "";
        width: 246px;
        height: 48px;
        background-image: url("../../images/icons/logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        filter: blur(4px);
    }
}

.footer__wrapper {
    padding: 0 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__list {
    margin-bottom: 22px;
    color: $color-text;
    font-size: rem(16);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer__link {
    color: $color-text;
text-decoration: none;
    cursor: pointer;
}

.footer__social-list {
    margin-bottom: 22px;
    position: relative !important;
    display: flex;
    gap: 15px;
    top: auto;
    right: auto;
    align-items: center;
    justify-content: center;
}

.footer__btn {
    margin-bottom: 23px;
    padding: 8px 20px;
    border-radius: 8px;
    font-family: $secondary-font-heavy;
}

.footer__line {
    min-width: 395px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copyright {
    font-size: rem(14);
    color: $color-text;
    align-self: flex-start;
}

.footer__btn-up {
    width: 17px;
    height: 17px;
    border: 2px solid $white;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 9px 5px;
    background-position: center;
    background-image: url("../../images/icons/icon-arrow.svg");
}