@use '../common/all-dependencies' as *;

.form__fieldset {
    border: none;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    min-inline-size: auto;
}

.form__legend {
    margin-bottom: 21px;
    font-family: $secondary-font-medium;
    font-size: rem(21);
    line-height: normal;
}

.form__labels {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 15px;
}

.form__label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    font-size: rem(15);
    line-height: normal;
}

.form__input {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $white;
    margin: 0;
    margin-right: 7px;

    &:checked {
        border: 4px solid $brend-color !important;
    }
}

.form__fieldset-scheme {
    @include desktop-small {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.form__fieldset-pickup {
    @include desktop-small {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

.form__fieldset-quantity {
    @include desktop-small {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

.form__fieldset-boxes {
    @include desktop-small {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}

.form__fieldset-quantity,
.form__fieldset-boxes {
    position: relative;
    overflow: hidden;
}

.form__wrapper-quantity,
.form__wrapper-boxes {
    text-align: right;
    // position: absolute;
    // top: -45px;
    // right: 2%;
}

.form__range {
    appearance: none;
    background: none;
    width: 100%;

    ::-webkit-slider-runnable-track {
        box-sizing: border-box;
        height: 15px;
        background-color: $brend-color;
    }

    &::-moz-range-track {
        box-sizing: border-box;
        background-color: #2b2a33;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 13px;
        height: 13px;
        border: none;
        border-radius: 50%;
        background: $brend-color;
        transition: 300ms;
    }

    &::-moz-range-thumb {
        width: 13px;
        height: 13px;
        margin-top: 0;
        border: none;
        border-radius: 50%;
        background: $brend-color;
        transition: 300ms;
    }

    &:focus-visible {
        outline: none;
        outline-offset: 10px;
        outline: 1px solid $brend-color;
    }

    &:hover::-webkit-slider-thumb,
    &:focus-visible::-webkit-slider-thumb {
        box-shadow: 0 0 0 10px inset $brend-color;
    }

    &:hover::-moz-range-thumb,
    &:focus-visible::-moz-range-thumb {
        box-shadow: 0 0 0 10px inset $brend-color;
    }

    &:active::-webkit-slider-thumb {
        box-shadow: 0 0 0 30px inset $brend-color;
    }

    &:active::-moz-range-thumb {
        box-shadow: 0 0 0 30px inset $brend-color;
    }

    &:disabled::-webkit-slider-thumb {
            box-shadow: 0 0 0 30px inset $color-toggle;
}

    &:disabled::-moz-range-thumb {
        box-shadow: 0 0 0 30px inset $color-toggle;
    }

    &:focus-visible::-webkit-slider-thumb {
        outline: 3px solid $brend-color;
    }

    &:focus-visible::-moz-range-thumb {
        outline: 3px solid $brend-color;
    }

    &::-webkit-slider-runnable-track {
        box-sizing: border-box;
        height: 2px;
        background: $color-toggle;
        border-radius: 2px;
    }

    &::-moz-range-track {
        box-sizing: border-box;
        height: 2px;
        background: $color-toggle;
        border-radius: 2px;
    }

    &::-webkit-slider-thumb {
        margin-top: -5px;
    }

    &::-moz-range-progress {
        height: 2px;
        border-radius: 2px;
        background-color: $brend-color;
    }

    &::-webkit-slider-thumb {
        border-image:
            linear-gradient(90deg, #d40000 50%, #969696 0)
            0 1 /
            calc(50% - 1px)
            100vw/0 100vw;
    }
}