@use '../common/all-dependencies' as *;

.form__fieldset {
    border: none;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    min-inline-size: auto;
}

.form__legend {
    margin-bottom: 21px;
    font-family: $secondary-font-medium;
    font-size: rem(21);
    line-height: normal;
}

.form__labels {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 15px;
}

.form__label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.form__input {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $white;
    margin: 0;
    margin-right: 7px;

    &:checked {
        border: 4px solid $brend-color !important;
    }
}