@use '../common/all-dependencies' as *;

.form__fieldset {
    border: none;
    margin: 0;
    margin-bottom: rem(35);
    padding: 0;
    min-inline-size: auto;
}

.form__legend {
    margin-bottom: rem(21);
    font-family: $secondary-font-medium;
    font-size: rem(21);
    line-height: normal;
}

.form__labels {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(40);
    row-gap: rem(15);
}

.form__label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    font-size: rem(15);
    line-height: normal;
}

.form__input {
    appearance: none;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    background-color: $white;
    margin: 0;
    margin-right: rem(7);

    &:checked {
        border: rem(4) solid $brend-color !important;
    }

    &--material {
        width: fluid(40, 30);
        height: fluid(40, 30);
        border-radius: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &:checked {
            border: rem(2) solid $brend-color !important;
        }
    }

    &--package {        
        background-image: url("../../images/icons/package.svg");
    }

    &--zip {
        background-image: url("../../images/icons/zip.svg");
    }

    &--box {
        background-image: url("../../images/icons/box.svg");
    }
}

.form__input[type="number"] {
    width: fluid(70, 50);
    height: fluid(40, 20);
    padding: 0 fluid(8, 5);
    border: rem(4) solid $white;
    border-radius: rem(8);
    text-align: center;

    &:hover,
    &:focus {
        border: rem(2) solid $brend-color;
    }

    &:active {
        border: rem(2) solid $brend-color;
    }
}

.form__input[type="number"]::-webkit-inner-spin-button,
.form__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
