@use '../common/all-dependencies' as *;

.form-contact {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.form-contact__input {
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $brend-color;

    &::placeholder {
        font-family: $secondary-font-bolditalic;
        font-size: rem(20);
        line-height: normal;
        font-style: italic;
        text-transform: uppercase;
        color: $white;
    }
}

.form-contact__group {
    display: flex;
    align-items: center;
    font-family: $secondary-font-btMediumItalic;
    font-size: rem(12);
}

.form-contact__checkbox {
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid $brend-color;
}

.form-contact__link {
    color: $white;
}

.form-contact__btn {
    width: 161px;
    height: 37px;
    border: none;
    align-self: flex-end;
    background-color: transparent;
    background-image: url("../../images/icons/start.svg");
    background-repeat: no-repeat;
    background-size: contain;
}