@use '../common/all-dependencies' as *;

.form-contact {
    display: flex;
    flex-direction: column;
    gap: 33px;

    @include desktop-small {
        grid-column: 3 / 5;
        gap: 25px;
    }

    @include desktop {
        grid-column: 6 / 10;
    }
}

.form-contact__input {
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $brend-color;

    @include desktop {
        font-size: rem(25);
    }

    &::placeholder {
        font-family: $secondary-font-bolditalic;
        font-size: rem(20);
        line-height: normal;
        font-style: italic;
        text-transform: uppercase;
        color: $white;

        @include desktop {
            font-size: rem(25);
            padding-left: 5px;
            padding-bottom: 5px;
        }
    }
}

.form-contact__group {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    row-gap: 33px;
    font-family: $secondary-font-btMediumItalic;
    font-size: rem(12);

    @include desktop-small {
        row-gap: 0;
    }

    @include desktop {
        row-gap: 20px;
    }
}

.form-contact__checkbox {
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid $brend-color;

    @include desktop {
        width: 18px;
        height: 18px;
    }
}

.form-contact__text {
    @include desktop {
        font-size: rem(16);
    }
}

.form-contact__link {
    color: $white;
}

.form-contact__btn {
    grid-column: 2 / 3;
    justify-self: flex-end;
    width: 161px;
    height: 37px;
    padding-right: 24px;
    border: none;
    background-color: transparent;
    background-image: url("../../images/icons/start.svg");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $secondary-font-bolditalic;
    font-size: rem(20);
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    color: $brend-color;

    @include desktop {
        width: 240px;
        height: 55px;
        font-size: rem(34);
        justify-self: flex-start;
        grid-column: 1 / 3;
    }
}