@use '../common/all-dependencies' as *;

.form-contact {
    display: flex;
    flex-direction: column;
    gap: rem(33);

    @include desktop-small {
        grid-column: 3 / 5;
        gap: rem(15);
    }

    @include desktop {
        grid-column: 6 / 10;
    }

    & div {
        position: relative;

        .form-contact__error {
            position: absolute;
            bottom: rem(-17);
            display: block;
            color: #ff4444;
            font-size: rem(12);
            margin-top: rem(5);
            font-style: italic;
        }
    }
}

.form-contact__input {
    width: 100%;
    padding: rem(3) rem(10);
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $brend-color;
    color: $white;

    @include desktop {
        font-size: rem(25);
    }

    font-size: fluid(24, 16);

    &::placeholder {
        font-family: $secondary-font-bolditalic;
        font-size: fluid(20, 14);
        line-height: normal;
        font-style: italic;
        text-transform: uppercase;
        color: $white;

        @include desktop {
            font-size: rem(25);
            padding-left: rem(5);
            padding-bottom: rem(5);
        }
    }

    &--error {
        border: 1px solid #ff4444;
        color: #ff4444;
    }

    &--success {
        border-color: #00c851;
    }
}

.form-contact__group {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    row-gap: rem(33);
    font-family: $secondary-font-btMediumItalic;
    font-size: rem(12);

    @include desktop-small {
        row-gap: rem(10);
    }

    @include desktop {
        row-gap: rem(30);
    }

    & span {
        position: absolute;
        bottom: rem(68) !important;
        color: #ff4444;
        font-size: rem(12);
        margin-top: rem(5);
        font-style: italic;
    }
}

.form-contact__checkbox {
    position: relative;
    appearance: none;
    width: fluid(18, 12);
    height: fluid(18, 12);
    border: 1px solid $brend-color;

    &::after {
        display: none;
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fluid(9,6);
        height: fluid(9,6);
        background-color: $brend-color;
    }

    &:checked::after {
        display: block;
    }
}

.form-contact__text {
    @include desktop {
        font-size: rem(16);
    }
}

.form-contact__link {
    color: $white;
}

.form-contact__btn {
    grid-column: 2 / 3;
    justify-self: flex-end;
    width: rem(161);
    height: rem(37);
    padding-right: rem(24);
    border: none;
    background-color: transparent;
    background-image: url("../../images/icons/start.svg");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $secondary-font-bolditalic;
    font-size: rem(20);
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    color: $brend-color;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $color-text;
    }

    &:active {
        opacity: 0.7;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    @include desktop {
        width: rem(240);
        height: rem(55);
        font-size: rem(34);
        justify-self: flex-start;
        grid-column: 1 / 3;
    }
}