@use '../common/all-dependencies' as *;

.form-contact {
    display: flex;
    flex-direction: column;
    gap: rem(33);

    @include desktop-small {
        grid-column: 3 / 5;
        gap: rem(15);
    }

    @include desktop {
        grid-column: 6 / 10;
    }
}

.form-contact__input {
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $brend-color;

    @include desktop {
        font-size: rem(25);
    }

    font-size: fluid(24, 16);

    &::placeholder {
        font-family: $secondary-font-bolditalic;
        font-size: fluid(20, 14);
        line-height: normal;
        font-style: italic;
        text-transform: uppercase;
        color: $white;

        @include desktop {
            font-size: rem(25);
            padding-left: rem(5);
            padding-bottom: rem(5);
        }
    }
}

.form-contact__group {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    row-gap: rem(33);
    font-family: $secondary-font-btMediumItalic;
    font-size: rem(12);

    @include desktop-small {
        row-gap: rem(10);
    }

    @include desktop {
        row-gap: rem(30);
    }
}

.form-contact__checkbox {
    appearance: none;
    width: rem(12);
    height: rem(12);
    border: 1px solid $brend-color;

    @include desktop {
        width: rem(18);
        height: rem(18);
    }
}

.form-contact__text {
    @include desktop {
        font-size: rem(16);
    }
}

.form-contact__link {
    color: $white;
}

.form-contact__btn {
    grid-column: 2 / 3;
    justify-self: flex-end;
    width: rem(161);
    height: rem(37);
    padding-right: rem(24);
    border: none;
    background-color: transparent;
    background-image: url("../../images/icons/start.svg");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $secondary-font-bolditalic;
    font-size: rem(20);
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    color: $brend-color;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $color-text;
    }

    &:active {
        opacity: 0.7;
    }

    @include desktop {
        width: rem(240);
        height: rem(55);
        font-size: rem(34);
        justify-self: flex-start;
        grid-column: 1 / 3;
    }
}