@use '../common/all-dependencies' as *;

.header {
    min-height: rem(60);    
    max-width: rem(1580);    
    display: flex;
    align-items: center;
    background-image: url("../../images/icons/mask.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
        background-image: url("../../images/icons/vector-header.svg");
        background-size: cover;
        background-position: center top;
        justify-content: space-between;
    }

    @include desktop {
        width: 95%;
        margin: 0 auto;
        justify-content: flex-start;
    }
}

.header__logo {
    width: clamp(rem(139), 10vw, rem(188));
    height: auto;
    aspect-ratio: 188 / 37;
    object-fit: contain;
    margin-right: rem(50);
    margin-left: rem(56);

    @include tablet {
        margin-left: rem(20);
        margin-right: rem(20);
    }

    @include desktop {
        margin-right: rem(30);
        margin-left: 0;
    }
}

.header__btn {
    position: relative;
    display: block;
    width: 100%;
    padding: rem(11) rem(30);
    padding-left: fluid(30, 20);
    background-color: $brend-color;
    color: $color-text-light-f4;
    border: none;
    border-radius: rem(10);
    font-family: $secondary-font-demi;
    font-size: fluid(20, 16);
    text-align: start;
    cursor: pointer;

    @include tablet {
      width: auto;
      padding: rem(8) rem(12);
      font-size: rem(16);
      min-width: max-content;
      margin-left: rem(30);
      margin-right: rem(20);
    }

    @include desktop-small {
        padding: rem(11) rem(30);
        min-width: rem(250);
        font-size: rem(20);
    }

    @include desktop {
        margin-right: 0;
    }

    &:hover::after,
    &:focus-visible::after {
      transform: translateY(-50%) rotate(45deg);
      border: 2px solid $brend-color;
    }
}

.header__btn::after {
    position: absolute;
    content: "";
    display: block;
    width: fluid(40, 30);
    height: fluid(40, 30);
    background-color: $white;
    border: 2px solid $white;
    border-radius: 50%;
    right: rem(20);
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../images/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include tablet {
        display: none;
    }

    @include desktop-small {
        display: block;
    }
}