@use '../common/all-dependencies' as *;

.header {
    min-height: rem(60);
    max-width: rem(1580);
    display: flex;
    align-items: center;
    background-image: url("../../images/icons/mask.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
        background-image: url("../../images/icons/vector-header.svg");
        background-size: cover;
        background-position: center top;
        justify-content: space-between;
    }

    @include desktop {
        width: rem(1580);
        margin: 0 auto;
        justify-content: flex-start;
    }
}

.header__logo {
    width: clamp(139px, 10vw, 188px);
    height: auto;
    aspect-ratio: 188 / 37;
    object-fit: contain;
    margin-right: 50px;
    margin-left: rem(56);

    @include tablet {
        margin-left: rem(36);
        margin-right: rem(20);
    }

    @include desktop {
        margin-right: rem(30);
    }
}

.header__btn {
    display: none;
    position: relative;
    padding: rem(11) rem(30);
    min-width: rem(250);
    background-color: $brend-color;
    color: $color-text-light-f4;
    border: none;
    border-radius: rem(10);
    font-family: $secondary-font-demi;
    font-size: rem(20);
    text-align: start;
    cursor: pointer;

    @include tablet {
      display: block;
      padding: rem(8) rem(12);
      font-size: rem(16);
      min-width: max-content;
      margin-left: rem(50);
      margin-right: rem(36);
    }

    @include desktop-small {
        padding: rem(11) rem(30);
        min-width: rem(250);
        font-size: rem(20);
    }

    @include mobile-only {
      position: absolute;
      top: rem(350);
      right: rem(20);
      z-index: 2;
    }

    &:hover::after,
    &:focus-visible::after {
      transform: translateY(-50%) rotate(45deg);
      border: 2px solid $brend-color;
    }
}

.header__btn::after {
    position: absolute;
    content: "";
    display: block;
    width: rem(40);
    height: rem(40);
    background-color: $white;
    border: 2px solid $white;
    border-radius: 50%;
    right: rem(20);
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../images/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include tablet {
        display: none;
    }

    @include desktop-small {
        display: block;
    }
}