@use '../common/all-dependencies' as *;

.header {
    min-height: rem(60);
    max-width: rem(1580);
    display: flex;
    align-items: center;
    background-image: url("../../images/icons/mask.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
        background-image: url("../../images/icons/vector-header.svg");
        background-size: cover;
        background-position: center top;
        justify-content: space-between;
    }

    @include desktop {
        width: rem(1580);
        margin: 0 auto;
        justify-content: flex-start;
    }
}

.header__logo {
    width: clamp(139px, 10vw, 188px);
    height: auto;
    aspect-ratio: 188 / 37;
    object-fit: contain;

    margin-left: rem(56);

    @include tablet {
        margin-left: rem(36);
        margin-right: rem(20);
    }

    @include desktop {
        margin-right: rem(30);
    }
}