@use '../common/all-dependencies' as *;

.hero {
    position: relative;
    width: 95%;
    height: rem(482);
    margin: 0 auto;
    margin-top: rem(38);
    margin-bottom: rem(21);
    background-image: url("../../images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: rem(20);

    @include tablet {
        background-position: bottom;
    }

    @include desktop-small {
        background-image: url("../../images/hero-desktop.jpg");        
        height: rem(702);  
        max-width: rem(1580);     
    }
}

.hero__logo {
    display: none;

    @include tablet {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: rem(60);
        display: block;
    }

    @include desktop-small {
        top: auto;
        transform: none;
        bottom: rem(185);
    }
}

.hero__title {
    max-width: rem(319);
    margin: 0 auto;
    padding: 0 rem(10);
    padding-top: rem(34);
    font-family: $secondary-font-heavy;
    font-size: rem(20);
    color: $color-text-light-f4;
    text-transform: uppercase;

    @include tablet {
        position: absolute;
        bottom: rem(100);
        left: rem(60);
        max-width: rem(746);
        font-size: rem(31);
        line-height: 100%;

        br {
            display: none;
        }
    }
}

.hero__btn {
    position: absolute;
    bottom: rem(101);
    right: rem(-24);
    padding: rem(6) rem(10) rem(10);
    font-family: $secondary-font-heavy;
    font-size: rem(16);
    border: 1px solid $brend-color;
    border-radius: rem(2);
    transform: rotate(-90deg);
}