@use '../common/all-dependencies' as *;

.main-nav {
  flex: 1;

  @include tablet {
    display: flex;
    width: 100%;
  }

  @include desktop {
    margin-right: auto;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: rem(20);

  @include tablet {
    flex-direction: row;
    align-items: center;
    gap: rem(20);
    width: 100%;
  }
}

.main-nav__list {
  margin-bottom: rem(10);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: rem(30);

  @include tablet {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  padding: rem(6);
  top: rem(17);
  right: rem(15);
  z-index: 2;
  display: block;
  width: rem(30);
  height: rem(23);
  cursor: pointer;
  border: none;
  border-radius: rem(8);
  background-color: $brend-color;
  background-repeat: no-repeat;
  background-size: rem(16) rem(16);
  background-position: center;

  @include tablet {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../../images/icons/burger.svg");
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../../images/icons/close.svg");
}

.main-nav--opened .main-nav__wrapper {
  @include mobile-only {
    position: absolute;
    top: rem(59);
    right: 0;
    width: 75%;
    height: 73vh;
    padding: rem(20);
    padding-bottom: rem(80);
    z-index: 2;
    background-color: $background-header;
    color: $color-text-light-f4;
    border-radius: 0 0 0 rem(100);
  }
}

.main-nav--closed .main-nav__wrapper {
  @include mobile-only {
    display: none;
  }
}

.main-nav__toggle:active {
    opacity: 0.5;
}

.main-nav__social {
  width: rem(100);
  justify-content: flex-end;
}

.main-nav__cta {
  align-self: stretch;
}

@include tablet {
  .main-nav__social {
    order: 1;
    justify-content: flex-start;
  }

  .main-nav__list {
    order: 2;
    flex: 1;
  }

  .main-nav__cta {
    order: 3;
    align-self: auto;
    margin-left: rem(36);
  }
}
