.page {
  height: 100%;
}

.page__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: rem(320);
  min-height: 100%;
  background-color: $white;
  color: $color-text;
  font-family: $primary-font;
}