@use '../common/all-dependencies' as *;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../images/popup-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: rem(150) rem(29) rem(50) rem(35);
    border-radius: rem(20);
    max-width: rem(1206);
    width: rem(372);
    max-height: 90vh;
    height: rem(585);
    overflow-y: auto;
    color: $color-text-light-f4;

    @include desktop {
        background-image: url("../../images/popup-desktop.png");
        width: rem(1206);
        height: rem(717);
        padding: rem(205) rem(313) rem(86) rem(312);
    }
  }
  
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: rem(25);
    height: rem(25);
    background-color: $brend-color;
    background-image: url("../../images/icons/close.svg");
    background-repeat: no-repeat;
    background-size: rem(14) rem(14);
    background-position: center;
    border: 2px solid $brend-color;
    border-radius: rem(5);
    cursor: pointer;

    @include desktop {
        width: rem(30);
        height: rem(30);
    }
    
    &:hover,
    &:focus {
      border-color: $white;
    }
  }

  &__title {
    font-family: $secondary-font-bolditalic;
    font-size: fluid(60, 36);
    line-height: normal;
    text-transform: uppercase;
    font-style: italic;
  }

  &__description {
    margin-bottom: fluid(49, 30);
    font-size: fluid(30, 18);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: fluid(26, 20);
  }

  &__input {
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $brend-color;
    font-size: rem(20);
    padding: 0;
    padding-top: rem(3);

    &::placeholder {
        font-family: $secondary-font-btMediumItalic;
        font-size: fluid(25, 20);
        line-height: normal;
        font-style: italic;
        text-transform: uppercase;
        color: $white;
    }
  }

    &__group {
        display: flex;
        align-items: center;
        gap: rem(5);
        font-family: $secondary-font-btMediumItalic;
        font-size: fluid(16, 12);
    }

    &__checkbox {
        appearance: none;
        width: fluid(18, 12);
        height: fluid(18, 12);
        border: 1px solid $brend-color;
    }

    &__link {
        color: $white;
    }

    &__btn {
        max-width: fluid(152, 123);
        padding: rem(5) rem(22);
        font-family: $secondary-font-heavy;
        font-size: fluid(20, 16);
        background-color: $brend-color;
        border-radius: rem(8);
    }
}