@use '../common/all-dependencies' as *;

.price {
    width: 95%;
    max-width: 1580px;
    min-height: 630px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    justify-content: center;
    background-image: url("../../images/markets-desktop.png");
    background-repeat: no-repeat;
    background-size: auto 441px;
    background-position: left -14px bottom;

    @include tablet {
        background-position: right bottom -10px;
        background-size: contain;
    }

    @include desktop-small {
        background-position: right bottom -80px;
    }

    @include desktop {
        background-size: 60%;
        margin-bottom: 100px;
    }
}

.price__title {
    margin-bottom: 20px;
    padding: 0 15px;
    font-family: $secondary-font-bolditalic;
    font-size: rem(36);
    line-height: normal;
    text-transform: uppercase;
    font-style: italic;
    grid-column: 1 / 5;
    grid-row: 1 / 2;

    @include desktop-small {
        max-width: 777px;
    }

    @include desktop {
        font-size: rem(60);
    }
}

.price__text {
    position: relative;
    margin-bottom: 8px;
    padding: 0 15px;
    font-size: rem(20);
    line-height: normal;
    grid-row: 2 / 3;
    grid-column: 1 / 5;

    @include tablet {
        grid-column: 1 / 2;
    }

    @include desktop {
        margin-bottom: 300px;
        grid-column: 1 / 3;
        font-size: rem(32);
    }

    &::after {
        @include desktop-small {
            position: absolute;
            content: "";
            left: 0;
            bottom: -250px;
            width: 244px;
            height: 132px;
            background-image: url("../../images/flags.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.price__btn {
    position: relative;
    width: 275px;
    max-height: 41px;
    margin: 0 auto;
    padding: 9px 48px 9px 17px;
    font-family: $opensans-bold;
    font-size: rem(20);
    border-radius: 8px;
    align-self: flex-end;
    grid-column: 1 / 5;

    @include desktop {
        min-width: 300px;
        width: max-content;
        min-height: max-content;
        margin: 0;
        padding-right: 78px;
    }

    &:hover::after,
    &:focus-visible::after {
      transform: translateY(-50%) rotate(45deg);
      border: 2px solid $brend-color;
    }

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: rem(40);
        height: rem(40);
        background-color: $white;
        border: 2px solid $white;
        border-radius: 50%;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("../../images/icons/arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}