@use '../common/all-dependencies' as *;

.price {
    width: 95%;
    max-width: rem(1580);
    min-height: rem(630);
    margin: 0 auto;
    margin-bottom: rem(50);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    justify-content: center;
    background-image: url("../../images/markets-desktop.png");
    background-repeat: no-repeat;
    background-size: auto rem(441);
    background-position: left rem(-14) bottom;

    @include tablet {
        background-position: right rem(-100) bottom rem(-86);
        background-size: contain;
    }

    @include desktop-small {
        background-position: right bottom rem(-80);
    }

    @include desktop {
        background-size: 60%;
        margin-bottom: rem(100);
    }
}

.price__title {
    margin-bottom: rem(20);
    padding: 0 rem(15);
    font-family: $secondary-font-bolditalic;
    font-size: fluid(60, 34);
    line-height: normal;
    text-transform: uppercase;
    font-style: italic;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    word-break: break-word;

    @include desktop-small {
        max-width: rem(777);
    }
}

.price__text {
    position: relative;
    margin-bottom: rem(8);
    padding: 0 rem(15);
    font-size: rem(20);
    line-height: normal;
    grid-row: 2 / 3;
    grid-column: 1 / 5;

    @include tablet {
        grid-column: 1 / 3;
    }

    @include desktop {
        margin-bottom: rem(300);
        grid-column: 1 / 3;
        font-size: rem(32);
    }

    &::after {
        @include desktop-small {
            position: absolute;
            content: "";
            left: 0;
            bottom: rem(-250);
            width: rem(244);
            height: rem(132);
            background-image: url("../../images/flags.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.price__btn {
    position: relative;
    margin: 0 auto;
    padding: rem(10) rem(60) rem(10) rem(17);
    font-family: $opensans-bold;
    font-size: rem(20);
    border-radius: rem(8);
    align-self: flex-end;
    grid-column: 1 / 5;

    @include desktop {
        min-width: rem(300);
        width: max-content;
        min-height: max-content;
        margin: 0;
        padding-right: rem(78);
    }

    &:hover::after,
    &:focus-visible::after {
      transform: translateY(-50%) rotate(45deg);
      border: 2px solid $brend-color;
    }

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: rem(40);
        height: rem(40);
        background-color: $white;
        border: 2px solid $white;
        border-radius: 50%;
        right: rem(12);
        top: 50%;
        transform: translateY(-50%);
        background-image: url("../../images/icons/arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}