@use '../common/all-dependencies' as *;

.rate {
    width: 100%;
    min-height: rem(384);
    background-image: url("../../images/tariffs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    color: $color-text-light-f4;
    background-color: $background-reviews;

    @include desktop-small {
        min-height: rem(520);
    }
}

.rate__wrapper {
    padding: rem(45) rem(23) rem(25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate__title {
    margin-bottom: rem(20);
    font-family: $secondary-font-bolditalic;
    font-size: rem(36);
    font-style: italic;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;

    @include desktop-small {
        max-width: rem(582);
        margin-bottom: rem(37);
        font-size: rem(60);
    }

    @include desktop {
        max-width: rem(1000);
    }
}

.rate__text {
    margin-bottom: rem(35);
    font-size: rem(20);
    line-height: normal;
    text-align: center;
    
    @include desktop-small {
        max-width: rem(492);
        margin-bottom: rem(84);
        font-size: rem(30);
    }

    @include desktop {
        max-width: rem(1000);
    }
}

.rate__btn {
    min-width: rem(221);
    margin-bottom: rem(62);
    padding: rem(12) rem(22);
    border-radius: rem(8);
    font-family: $opensans-bold;
    font-size: rem(20);

    @include desktop-small {
        min-width: rem(298);
    }
}

.rate__image {
    width: rem(106);
    height: rem(25);
    object-fit: contain;

    @include desktop-small {
        width: rem(140);
        height: rem(32);
    }
}

.rate__brend-text {
    font-family: $secondary-font-medium;
    text-transform: uppercase;
    font-size: rem(13);
    line-height: normal;

    @include desktop-small {
        font-size: rem(17);
    }
}