@use '../common/all-dependencies' as *;

.rate {
    width: 100%;
    height: 384px;
    background-image: url("../../images/tariffs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    color: $color-text-light-f4;
    background-color: $background-reviews;
}

.rate__wrapper {
    padding: 45px 23px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate__title {
    margin-bottom: 20px;
    font-family: $secondary-font-bolditalic;
    font-size: rem(36);
    font-style: italic;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.rate__text {
    margin-bottom: 35px;
    font-size: rem(20);
    line-height: normal;
    text-align: center;
}

.rate__btn {
    min-width: 221px;
    margin-bottom: 62px;
    padding: 12px 22px;
    border-radius: 8px;
    font-family: $opensans-bold;
    font-size: rem(20);
}

.rate__image {
    width: 106px;
    height: 25px;
    object-fit: contain;
}

.rate__brend-text {
    font-family: $secondary-font-medium;
    text-transform: uppercase;
    font-size: rem(13);
    line-height: normal;
}