@use '../common/all-dependencies' as *;

.reviews {
    position: relative;
    max-width: rem(1580);
    margin: 0 auto;
    margin-bottom: rem(81);
    padding: 0 rem(15);
}

.reviews__title {
    margin-bottom: rem(50);
    font-family: $secondary-font-bolditalic;
    font-size: rem(36);
    line-height: normal;
    font-style: italic;
    text-transform: uppercase;

    @include desktop {
        margin-bottom: rem(135);
        font-size: rem(70);
        text-align: center;
    }
}

.reviews__container {
    display: none;

    @include desktop {
        max-width: rem(1580);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

.reviews__tab {
    @include desktop {
        position: relative;
        width: rem(254);
        min-height: rem(50);
        padding: rem(13) rem(40) rem(5);
        border: none;
        font-family: $secondary-font-heavy;
        font-size: rem(30);
        line-height: normal;
        text-align: center;
        background-color: transparent;
        color: $background-header;
        cursor: pointer;        
    
        &.active {
            color: $brend-color;
            background-color: $background-header;
            border-radius: rem(20) rem(20) 0 0;
    
            &::after {
                position: absolute;
                content: '';
                width: rem(30);
                height: rem(30);
                background-image: url("../../images/icons/reviews-block.svg");
                background-repeat: no-repeat;
                background-size: cover;
                right: rem(-29);
                bottom: 0;
            }
    
            &[data-review="2"],
            &[data-review="3"],
            &[data-review="4"],
            &[data-review="5"] {
                &::before {
                    position: absolute;
                    content: '';
                    width: rem(30);
                    height: rem(30);
                    background-image: url("../../images/icons/reviews-block.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    left: rem(-29);
                    bottom: 0;
                    transform: scaleX(-1);
                }
            }
    
            &[data-review="5"] {
                justify-self: flex-end;
    
                &::after {
                    display: none;
                }
            }
        }

    }
}

.reviews__navigation {
    margin-right: rem(10);
    text-align: right;
    margin-bottom: rem(-34);
    z-index: 100;
    pointer-events: none;

    @include desktop {
        display: none;
    }
}

.reviews__nav-button {
    position: relative;
    width: rem(33);
    height: rem(33);
    background-color: $brend-color;
    background-image: url("../../images/icons/head-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: rem(8) rem(13);
    border-radius: 50%;
    border: none;
    pointer-events: all;
    z-index: 101;
}

.reviews__nav-button--prev {
    margin-right: rem(5);
}

.reviews__nav-button--next {
    transform: rotate(-180deg);
}

.reviews__item-wrapper {
    padding: rem(33) rem(22) rem(20);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $background-header;
    color: $color-text-light-f4;
    border-radius: 0 rem(20) rem(20) rem(20);

    
    @include desktop {
        padding: rem(87) rem(97) rem(87) rem(64);
        grid-template-columns: rem(194) 1fr;
        grid-template-rows: min-content min-content;
        column-gap: rem(86);
        
        .reviews__item[data-review="2"] &,
        .reviews__item[data-review="3"] &,
        .reviews__item[data-review="4"] & {
            border-radius: rem(20) rem(20) rem(20) rem(20);
        }
      
        .reviews__item[data-review="5"] & {
            border-radius: rem(20) 0 rem(20) rem(20);
        }
    }
}

.reviews__item-quote {
    position: relative;
    width: rem(175);
    padding: rem(16) rem(50) 0;
    font-family: $secondary-font-heavy;
    background-color: $background-header;
    color: $brend-color;
    border-radius: rem(20) rem(20) 0 0;

    @include desktop {
        display: none;
    }

    &::after {
        position: absolute;
        content: '';
        width: rem(15);
        height: rem(15);
        background-image: url("../../images/icons/reviews-block.svg");
        background-repeat: no-repeat;
        background-size: cover;
        right: rem(-15);
        bottom: 0;

        @include tablet {
            right: rem(-14);
        }

        @include desktop {
            width: rem(30);
            height: rem(30);
            right: rem(-30);
        }
    }
}

.reviews__item-image {
    max-width: rem(129);
    width: rem(129);
    height: rem(129);
    margin-right: rem(20);
    border-radius: 50%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    @include desktop {
        grid-row: 1 / 2;
    }
}

.reviews__item-name {
    font-size: rem(14);
    line-height: normal;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    @include desktop {
        font-size: rem(20);
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

.reviews__item-text {
    margin-top: rem(26);
    font-size: rem(18);
    line-height: normal;
    grid-row: 3 / 4;
    grid-column: 1 / 3;

    @include desktop {
        margin-top: 0;
        font-size: rem(32);
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }
}