@use '../common/all-dependencies' as *;

.services {
    max-width: rem(1580);
    margin: 0 auto;
}

.services__wrapper {
    padding: 0 rem(15) rem(50);
}

.services__list {
    max-width: rem(372);
    margin: 0 auto;
    margin-bottom: rem(12);

    @include tablet {
        max-width: rem(728);
    }

    @include desktop-small {
        max-width: rem(994);
    }

    @include desktop {
        max-width: fluid(1580, 1368);
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: rem(20);
    }
}

.services__item {
    position: relative;

    @include desktop {
        width: auto !important;
        max-width: rem(780);
        margin-right: 0 !important;
    }
}

.services__item-image {
    display: block;
    width: rem(372);
    min-height: rem(449);
    border-radius: rem(20);

    @include tablet {
        width: rem(354);
    }

    @include desktop-small {
        width: rem(322);
    }

    @include desktop {
        width: auto !important;
    }
}

.services__wrapper-text {
    position: absolute;
    bottom: 0;
    max-width: rem(344);
    min-height: rem(178);
    padding: rem(16) rem(14);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $brend-color;
    color: $color-text-light-f4;
    border-radius: 0 rem(20) 0 rem(20);
    z-index: 2;

    @include tablet {
        border-radius: 0 rem(20) rem(20) rem(20);
    }

    @include desktop-small {
        max-width: rem(322);
    }

    @include desktop {
        max-width: rem(590);
        min-height: rem(123);
        border-radius: 0 rem(20) 0 0;
        bottom: rem(34);
    }
}

.services__item-title {
    font-family: $secondary-font-bolditalic;
    font-size: rem(26);
    line-height: normal;
    font-style: italic;
    margin-bottom: rem(7);

    @include desktop {
        font-size: rem(30);
    }
}

.services__item-text {
    @include desktop {
        font-size: rem(20);
    }
}

.services__dots-wrapper {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: rem(10) !important;
    height: rem(10) !important;
    border-radius: 50%;
    background-color: $background-reviews !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: $brend-color !important;
}