.social-list {
    flex-direction: row;
    justify-content: flex-end;

    @include tablet {
        position: absolute;
        left: rem(195);
    }
}

.social-list__link {
    width: rem(40);
    height: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $brend-color;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.social-list__link--tg {
    background-image: url('../../images/icons/tg.svg');
}

.social-list__link--wa {
    background-image: url('../../images/icons/wa.svg');
}