@use '../common/all-dependencies' as *;

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: rem(15);

    @include tablet {
        gap: 0;
    }

    @include desktop-small {
        gap: rem(15);
    }
}

.social-list__item {
    width: fluid(40, 32);
    height: fluid(40, 32);
    border-radius: 50%;
    border: 1px solid $brend-color;

    @include tablet {
        border: none;
    }

    @include desktop-small {
        border: 1px solid $brend-color;
    }

    &:hover {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.5;
    }
}

.social-list__link {
    width: fluid(40, 32);
    height: fluid(40, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $brend-color;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include tablet {
        border: none;
    }

    @include desktop {
        border: 1px solid $brend-color;
    }
}

.social-list__link--tg {
    background-image: url('../../images/icons/tg.svg');
    background-position: left rem(4) center;
}

.social-list__link--wa {
    background-image: url('../../images/icons/wa.svg');
}