@use '../common/all-dependencies' as *;

.social-list {
    margin-bottom: rem(10);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: rem(30);

  @include tablet {
    flex-direction: row;
    margin-bottom: 0;
  }
    @include mobile-only {
        display: none;
    }

    position: absolute;
    right: 20px;
    top: 245px;
    z-index: 3;
    flex-direction: row;
    justify-content: flex-end;

    @include tablet {
        position: relative;
        top: auto;
        right: inherit;
        gap: rem(10);
        margin-right: rem(20);
    }

    @include desktop {
        margin-right: rem(300);
    }
}

.social-list__item {
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    border: 1px solid $brend-color;

    &:hover {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.5;
    }
}

.social-list__link {
    width: rem(40);
    height: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $brend-color;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include tablet {
        border: none;
    }

    @include desktop {
        border: 1px solid $brend-color;
    }
}

.social-list__link--tg {
    background-image: url('../../images/icons/tg.svg');
    background-position: left 4px center;
}

.social-list__link--wa {
    background-image: url('../../images/icons/wa.svg');
}