@use '../common/all-dependencies' as *;

.total {
    padding: rem(16) rem(19);
    background-color: $background-rezult;
    border-radius: rem(16);
    border: 3px solid $brend-color;

    @include tablet {
        max-width: 50%;
        margin-left: auto;
    }

    @include desktop-small {
        position: absolute;
        right: rem(25);
        bottom: rem(65);
        width: rem(380);
    }

    @include desktop {
        right: rem(70);
    }
}

.total__title {
    position: relative;
    margin-bottom: rem(12);
    font-family: $secondary-font-bolditalic;
    font-size: rem(22);
    line-height: normal;
    font-style: italic;

    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 50%;
        width: rem(13);
        height: rem(13);
        border-radius: 50%;
        background-color: $brend-color;
        background-image: url("../../images/icons/head-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: rem(8) rem(5);
        transform: translateY(-50%) rotate(-90deg);
    }
}

.total__list {
    margin: 0;
}

.total__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(2) rem(7);
    background-color: $brend-color;
    border-radius: rem(5);
    font-family: $secondary-font-medium;
    font-size: rem(21);
    line-height: normal;
}

.total__value {
    margin: 0;
}