// common
@use 'common/all-dependencies' as *;
@use 'common/visually-hidden' as *;
@use 'common/global' as *;

// blocks
@use 'blocks/buttons' as *;
@use 'blocks/main-nav' as *;
@use 'blocks/page' as *;
@use 'blocks/header' as *;
@use 'blocks/site-list' as *;
@use 'blocks/social-list' as *;
@use 'blocks/hero' as *;
@use 'blocks/article' as *;
@use 'blocks/advantages' as *;
@use 'blocks/services' as *;
@use 'blocks/price' as *;
