/* здесь используйте глобальные селекторы img, body, html и так далее */

@use './variables' as *;
@use './utils' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  position: relative;
  font-family: $primary-font;
  font-size: rem(20);
  font-style: normal;
  font-weight: 400;
  line-height: rem(20);
  color: $color-text;
}

p span,
h1 span,
h2 span {
  color: $brend-color;
}

p, h1, h2, h3 {
  margin: 0;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}