/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  position: relative;
  font-family: $primary-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-text;
}