@use './variables' as *;

@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

// Миксины для медиа-запросов с rem
@mixin mobile-only {
  @media (max-width: $mobile-width-only) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

// Дополнительные полезные миксины для rem
@mixin responsive-font($min-size, $max-size, $min-width: $tablet-width, $max-width: $desktop-width) {
  font-size: rem($min-size);
  
  @media (min-width: $min-width) and (max-width: $max-width) {
    font-size: calc(
      #{rem($min-size)} + (#{$max-size} - #{$min-size}) * 
      ((100vw - #{$min-width}) / (#{$max-width} - #{$min-width}))
    );
  }
  
  @media (min-width: $max-width) {
    font-size: rem($max-size);
  }
}
