// Базовый размер шрифта для rem расчетов
$base-font-size: 16px;

// Display Resolution
$mobile-width-only: 47.9375rem;  // 767px / 16
$tablet-width: 48rem;           // 768px / 16  
$desktop-width: 90rem;          // 1440px / 16

// Переменные для шрифтов
$primary-font: "FuturaPT-Book", "Arial", sans-serif;
$secondary-font-heavy: "FuturaPT-Heavy", "Arial", sans-serif;
$secondary-font-demi: "FuturaPT-Demi", "Arial", sans-serif;
$secondary-font-medium: "FuturaPT-Medium", "Arial", sans-serif;
$secondary-font-mediumitalic: "FuturaPT-MediumItalic", "Arial", sans-serif;
$secondary-font-bolditalic: "FuturaBT-BoldItalic", "Arial", sans-serif;
$opensans-bold: "OpenSans-Bold", "Arial", sans-serif;

// Colors (fonts, buttons, form)
$brend-color: #d40000;
$white: #ffffff;
$color-text: #141414;
$color-text-light-f4: #f4f4f4;
$color-text-light-f6: #f6f6f6;
$color-toggle: #969696;

// Background Colors
$background-header: #242424;
$background-reviews: #262626;
$background-rezult: #424242;

// Gradients
$background-footer: linear-gradient(180deg, rgba(188, 188, 188, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%);
$background-calc: radial-gradient(circle, #FFFFFF 0%, #7D7D7D 100%);
$background-calc2: linear-gradient(180deg, #141414 8%, #7A7A7A 36%, #7A7A7A 63%, #141414 93%);
